#content--container,
#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#content--container {
  display: none;
}

#content--container {
  height: 100vh;
}

#content {
  height: 65%;
}

#content--canvas__container {
  flex: 1 1 0;
}

#content--info {
  display: flex;
  flex-direction: column;
  width: 230px;
}

#content--info__bleed-height {
  margin: 10px 0 0 0;
  letter-spacing: 4px;
  text-align: center;
}

#content--info__tip {
  margin: 0;
  letter-spacing: 2px;
  font-size: 12px;
  text-align: center;
}

#content--info__range {
  margin-top: 10px;
}

#content--info__button--container {
  margin-top: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.content--info__button {
  background: none;
  border: 0;
  text-transform: uppercase;
  font-family: inherit;
  height: 28px;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 2px;

  &:active {
    opacity: 0.35;
    color: black;
  }
}